GEMINI_API_KEY=sua_chave_aqui
PASTA_AULAS=./aulas
PASTA_SUPORTE=./livros_e_fontes
PASTA_DB=./chroma_db
ANKI_URL=http://localhost:8765
ANKI_TIMEOUT=30
CHUNK_SIZE=1000
CHUNK_OVERLAP=150
SEARCH_K_AULA=40
SEARCH_K_SUP=15
SCORE_THRESHOLD=1.35
GEMINI_MODEL=models/gemini-flash-lite-latest
EMBED_MODEL=all-MiniLM-L6-v2
